{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h4>Drop Us a Note</h4>
                    <h2>Contact Us.</h2>
                    <span class="border"></span>
                    <p>We are happy to make new connections</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>Find us here</h4>
                    <ul class="list-inline social-icon">
                        {{ with .Site.Params.contact.facebook }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-ios-email"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.twitter }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-twitter"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.linkedin }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-github"></i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
            </div>
        </div>
    </div>
</section>
