{{ $data := index .Site.Data .Site.Language.Lang }}
    {{ "<!-- Start -->" | safeHTML }}
    <section class="section-sm" id="feedback">
        <div class="container">
            <div class="row justify-content-center">
                <iframe class="airtable-embed"
                src="https://airtable.com/embed/shr7K7MSVutT8evNm?backgroundColor=blue"
                frameborder="0" onmousewheel="" width="100%" height="1096" style="background:
                transparent; border: 1px solid #ccc;"></iframe>

            </div>
        </div>
    </section>
