{{ "<!-- Start -->" | safeHTML }}
<section class="section-sm" id="submit">
    <div class="container">
        <div class="row justify-content-center">
            <iframe id="airtable_solutions" class="airtable-embed"
            src="https://airtable.com/embed/shrtGQcUPXluvcBpX?backgroundColor=blue&layout=card&viewControls=on"
            frameborder="0" onmousewheel="" width="100%" height="533" style="background:
            transparent; border: 1px solid #ccc;"></iframe>
        </div>
        <div class="row justify-content-center mt-20">
            <a href="{{ "contact/feedback" | absLangURL }}" >Any Feedback? Please use the feedback form.</a>
        </div>

    </div>
</section>
