{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- Feedback prettier fix -->
{{ "<!-- Start -->" | safeHTML }}
<!-- Feedback prettier fix -->
<section class="section-sm" id="feedback">
  <div class="container">
    <div class="row justify-content-center">
      <iframe
        class="airtable-embed"
        src="https://airtable.com/embed/shr7K7MSVutT8evNm?backgroundColor=blue"
        frameborder="0"
        onmousewheel=""
        width="100%"
        height="1096"
        style="background: transparent;"
      ></iframe>
    </div>
  </div>
</section>
