{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.website }}
{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Partners</h3>
                    {{ partial "partners.html" . }}

                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <!-- <a href="{{ "contact/feedback" | absLangURL }}" >Any Feedback? Please use the feedback form.</a> -->
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .footerQuickLink }}</h3>
                    <ul>
                        {{ range .quicklink }}
                        <li>
                            <a href="{{ .url | absLangURL }}">{{ .name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="column">
            <h5>Covid innovations is a non profit initiative
                This website is being maintained on a shoestring budget.</h5>
        </div>
        <div class="column">
            <h5><a href="mailto:basile@blockdynamics.io" target="_blank">Please donate here</a></h5>
            <h5><a href="https://helpwithcovid.com/users/sign_up" target="_blank">Join the project here</a></h5>
            <h5><a href="#" onclick="COVID.share(event); return false;">Or spread the word
                    here</a></h5>
        </div>
    </div>
</footer>
{{ "<!-- end footer -->" | safeHTML }}

{{ "<!-- Essential Scripts -->" | safeHTML }}

{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "plugins/jquery/dist/jquery.min.js" | absURL }}"></script>
{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/dist/js/popper.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/dist/js/bootstrap.min.js" | absURL }}"></script>
<script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/app.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<script>
    COVID.domLoaded(function () {
        var date = new Date();
        var dt = date.toDateString();
        var time = date.toLocaleTimeString();
        let page = COVID.getLastPath();
        COVID.log("Loaded page [{0}] at {1} {2}".format(page, dt, time));

        switch (page) {
            case "browse":
                COVID.Solutions.create_links();
                COVID.Solutions.load_category_index(0);

                break;
            default:
            // Do nothing
        }

    });
</script>

{{ end }}