{{ $data := index .Site.Data .Site.Language.Lang }}
    {{ "<!-- Start -->" | safeHTML }}
    <section class="section-sm bg-gray" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <iframe class="airtable-embed"
                src="https://airtable.com/embed/shrbknMt7KCPcj5nS?backgroundColor=blue"
                frameborder="0" onmousewheel="" width="600" height="600"
                style="background: transparent; border: 1px solid #ccc;"></iframe>

            </div>
        </div>
    </section>
