$color_1: #9a9a9a;
$color_2: #fff;
$color_3: #ff5600;
$color_4: #ddd;
$color_5: #232323;
$color_6: #848484;
$color_7: #777;
$color_8: #cfcfcf;
$color_9: #666;
$color_10: #707d8f;
$color_11: #0c0c0c;
$color_12: #D8000C;
$color_13: white;
$color_14: #444;
$color_15: #000;
$color_16: #333;
$color_17: #f3f1f1;
$color_18: #f9f9f9;
$color_19: #cccccc;
$color_20: #212121;
$color_21: #838383;
$color_22: #555;
$color_23: #888;
$color_24: #757575;
$color_25: #4e595f;
$color_26: #404040;
$color_27: #bdbdbd;
$color_28: #888888;
$color_29: #656565;
$font_family_1: "Titillium Web", sans-serif;
$font_family_2: Futura,Trebuchet MS,Arial,sans-serif;
$font_family_3: 'Open Sans', sans-serif;
$background_color_1: #21D6BF;
$background_color_2: #000;
$background_color_3: #ffa535;
$background_color_4: transparent;
$background_color_5: #FFBABA;
$background_color_6: #6cb670;
$background_color_7: #f2f6f8;
$background_color_8: #ff5600;
$background_color_9: #fff;
$background_color_10: #222222;
$background_color_11: #1b1b1b;
$border_color_1: #ff5600;

@import "https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700";
/*=== MEDIA QUERY ===*/
/*=================================================================
  About us section
==================================================================*/
/*=================================================================
  About us 2 section
==================================================================*/
/*=================================================================
 Call To Action 1
==================================================================*/
/*=================================================================
 Call To Action 2
==================================================================*/
/*=================================================================
  Contact
  ==================================================================*/
/*=================================================================
  Item counter section
==================================================================*/
/*=================================================================
  Pricing section
==================================================================*/
/*=================================================================
  Portfolio section
==================================================================*/
/*=================================================================
  Services section
==================================================================*/
/*=================================================================
  Services section 2
==================================================================*/
/*=================================================================
  Our skills
==================================================================*/
/*=================================================================
  Step section
==================================================================*/
/*=================================================================
  Our Team
  ==================================================================*/
/*=================================================================
  Testimonial section
==================================================================*/
/*=================================================================
  Latest Posts
==================================================================*/
/*=================================================================
  Single Blog Page
==================================================================*/
/*=================================================================
  Footer section
==================================================================*/
/*# sourceMappingURL=maps/style.css.map */
body {
	line-height: 1.4;
	font-family: $font_family_1;
	-webkit-font-smoothing: antialiased;
}
p {
	font-family: $font_family_1;
	color: $color_1;
	font-size: 15px;
}
h1 {
	font-family: $font_family_1;
	font-weight: 600;
}
h2 {
	font-family: $font_family_1;
	font-weight: 600;
}
h3 {
	font-family: $font_family_1;
	font-weight: 600;
}
h4 {
	font-family: $font_family_1;
	font-weight: 600;
}
h5 {
	font-family: $font_family_1;
	font-weight: 600;
}
h6 {
	font-family: $font_family_1;
	font-weight: 600;
}
#logo_text {
	font-family: $font_family_2;
	font-weight: 600;
	color: $color_2;
	display: inline-block;
	font-size: 30px;
}
.no-padding {
	padding: 0 !important;
}
.inline-block {
	display: inline-block;
}
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
figure {
	margin: 0;
}
a {
	transition: all .3s ease-in 0s;
	text-decoration: none;
	outline: 0;
	&:focus {
		text-decoration: none;
		outline: 0;
		color: $color_3;
	}
	&:hover {
		text-decoration: none;
		outline: 0;
		color: $color_3;
	}
}
iframe {
	border: 0;
}
.btn-main {
	background-color: $background_color_1;
	background-image: linear-gradient(100deg, #f9643d, #fe2a77);
	color: $color_2;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 10px 40px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 2px;
	&:hover {
		color: $color_2;
	}
}
.btn-main-sm {
	background-color: $background_color_1;
	background-image: linear-gradient(100deg, #f9643d, #fe2a77);
	color: $color_2;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 10px 40px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 8px 20px;
	font-size: 12px;
	&:hover {
		color: $color_2;
	}
}
.btn-transparent {
	color: $color_2;
	border: 1px solid #fff;
	display: inline-block;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 10px 40px;
	text-transform: uppercase;
	&:hover {
		color: $color_2;
	}
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.btn {
	&:focus {
		color: $color_4;
		outline: 0;
	}
	&:active {
		&:focus {
			outline: 0;
		}
	}
}
#home {
	position: relative;
}
.section {
	padding: 100px 0;
}
.padding-0 {
	padding: 0;
}
.section-sm {
	padding: 70px 0;
}
.section-xs {
	padding: 40px 0;
}
.btn.active {
	&:focus {
		outline: 0;
	}
}
.title {
	padding-bottom: 50px;
	text-align: center;
	h2 {
		font-size: 35px;
		color: $color_5;
		text-transform: capitalize;
		margin-bottom: 8px;
		font-weight: 700;
	}
	h4 {
		font-size: 10px;
		line-height: 10px;
		font-weight: 700;
		letter-spacing: 3.3px;
		text-transform: uppercase;
	}
	p {
		color: $color_6;
		width: 50%;
		margin: 0 auto;
	}
	.border {
		border: none;
		display: inline-block;
		border-radius: 3px;
		height: 6px;
		position: relative;
		width: 90px;
		margin-bottom: 10px;
		background-image: linear-gradient(100deg, #f9643d, #fe2a77);
	}
}
.bg-gray {
	background: #f9f9f9;
}
.color-gray {
	color: $color_7;
}
.shadow {
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.34);
}
.gradient {
	background-image: linear-gradient(100deg, #f9643d, #fe2a77);
}
.service-2 {
	.service-item {
		i {
			background-image: linear-gradient(100deg, #f9643d, #fe2a77);
			font-size: 30px;
			display: inline-block;
			border-radius: 30px;
			box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
			color: $color_2;
			height: 55px;
			line-height: 55px;
			margin-bottom: 20px;
			width: 55px;
			transition: all 0.3s ease 0s;
		}
		background: #fff;
		border: 1px solid #eee;
		padding: 50px 20px;
		margin-right: -1px;
		margin-bottom: -1px;
		transition: all 0.3s ease 0s;
		.count {
			font-size: 80px;
			position: absolute;
			top: 0;
			left: 20px;
			color: $color_17;
			font-weight: 700;
		}
	}
}
.header-bradcrumb {
	background: transparent;
	a {
		color: $color_8;
		font-weight: 200;
		font-family: $font_family_1;
		&:hover {
			color: $color_3;
		}
	}
	.active {
		color: $color_8;
		font-weight: 200;
		font-family: $font_family_1;
	}
}
.slick-slide {
	outline: none;
}
.commonTab {
	.nav-tabs {
		border: 1px solid transparent;
		text-align: center;
		.nav-item {
			margin: 0 3px;
			.nav-link {
				background: #f9f9f9;
				color: $color_9;
				text-transform: capitalize;
				border-radius: 0;
				&:hover {
					border: 1px solid #ff5600;
					border-radius: 0;
					background: #ff5600;
					color: $color_2;
				}
			}
			.nav-link.active {
				border: 1px solid #ff5600;
				background: #ff5600;
				color: $color_2;
			}
		}
	}
	.tab-content {
		padding-top: 30px;
	}
}
.bg-pricing {
	background: url("../images/pricing-bg.jpg");
	background-size: cover;
}
.single-page-header {
	background: #1f2532;
	padding: 50px 0;
	text-align: center;
	color: $color_2;
	position: relative;
	.breadcrumb {
		background: transparent;
		display: inline-block;
		li {
			display: inline-block;
			a {
				color: $color_3;
			}
		}
	}
}
.navigation {
	transition: .3s all;
	background: #1f2532;
	.navbar-nav {
		>li.active {
			a {
				color: $color_2;
			}
		}
		>li {
			>a {
				color: $color_10;
				font-size: 15px;
				line-height: 26px;
				padding: 20px 15px !important;
				transition: .2s ease-in-out 0s;
				&:hover {
					background: none;
					color: $color_3;
				}
				&:active {
					background: none;
					color: $color_3;
				}
				&:focus {
					background: none;
					color: $color_3;
				}
			}
		}
	}
	.navbar-toggler {
		color: $color_2;
		font-size: 30px;
		cursor: pointer;
		outline: none;
	}
	.nav {
		.open {
			>a {
				background: none;
			}
		}
	}
	.dropdown {
		padding: 0;
		.dropdown-item {
			padding: 8px 15px;
			color: $color_2;
			font-size: 13px;
			&:hover {
				background: transparent;
				color: $color_3;
			}
		}
		.dropdown-menu {
			border-radius: 0;
			-webkit-transform-origin: top;
			transform-origin: top;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			-webkit-transform: scale(1, 0);
			transform: scale(1, 0);
			background-color: $background_color_2;
			display: block;
			opacity: 0;
			transition: opacity 0.3s ease-in-out,-webkit-transform 0.3s;
			transition: transform 0.3s,opacity 0.3s ease-in-out;
			transition: transform 0.3s,opacity 0.3s ease-in-out,-webkit-transform 0.3s;
		}
		&:hover {
			.dropdown-menu {
				transition: opacity 0.3s ease-in-out,-webkit-transform 0.3s;
				transition: transform 0.3s,opacity 0.3s ease-in-out;
				transition: transform 0.3s,opacity 0.3s ease-in-out,-webkit-transform 0.3s;
				-webkit-transform: scale(1, 1);
				transform: scale(1, 1);
				opacity: 1;
			}
		}
	}
}
.navbar-brand {
	height: auto;
	padding: 8px 0;
	h1 {
		margin: 0;
	}
}
.hero-area {
	padding: 150px 0;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #1f2532;
	.block {
		color: $color_2;
		padding-left: 30px;
		h2 {
			font-size: 48px;
			margin-bottom: 20px;
		}
		p {
			color: $color_10;
			font-size: 20px;
			margin-bottom: 20px;
		}
		.list-inline {
			margin-top: 50px;
		}
		.btn-main {
			margin-right: 8px;
		}
		.btn-main-sm {
			margin-right: 8px;
		}
	}
}
.video-player {
	iframe {
		width: 100%;
		height: 100%;
	}
	.play-icon {
		position: absolute;
		left: 0;
		top: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 100%;
		text-align: center;
		&:hover {
			i {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
		i {
			margin-left: 3px;
			height: 80px;
			width: 80px;
			border-radius: 50px;
			transition: -webkit-transform 300ms ease;
			transition: transform 300ms ease;
			transition: transform 300ms ease, -webkit-transform 300ms ease;
			background: #fff;
			color: $color_3;
			line-height: 80px;
			font-size: 30px;
			margin-left: 5px;
		}
	}
}
.hero-area-video {
	height: 100vh;
	position: inherit !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	.block {
		color: $color_2;
		text-align: center;
		h1 {
			font-size: 60px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p {
			color: $color_2;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 3px;
			margin-bottom: 20px;
		}
		.btn-main {
			margin-top: 20px;
		}
		.btn-main-sm {
			margin-top: 20px;
		}
	}
}
.dark-bg {
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}
.about {
	background: #fff;
	h2 {
		font-size: 40px;
		font-weight: bold;
		margin-top: 0;
	}
	h4 {
		font-size: 14px;
		color: $color_3;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	p {
		line-height: 1.6;
		margin-top: 20px;
		font-size: 18px;
	}
	.content {
		padding: 50px 0;
	}
}
.about-2 {
	background: #F7F7F7;
	h2 {
		position: relative;
		&:before {
			position: absolute;
			left: -15%;
			top: 18px;
			content: '';
			display: inline-block;
			width: 12%;
			height: 3px;
			background-color: $background_color_3;
			background-image: linear-gradient(100deg, #f9643d, #fe2a77);
			background-image: linear-gradient(100deg, #f9643d, #fe2a77);
		}
	}
}
.call-to-action {
	padding: 100px 0;
	background-size: cover;
	color: $color_2;
	h2 {
		line-height: 1.5;
	}
	p {
		color: $color_2;
	}
	.btn-main {
		margin-top: 20px;
	}
	.btn-main-sm {
		margin-top: 20px;
	}
}
.call-to-action-2 {
	padding: 100px 0;
	background-image: url("../images/call-to-action/call-to-action-bg.jpg");
	background-size: cover;
	color: $color_2;
	h2 {
		line-height: 1.5;
	}
	p {
		color: $color_2;
	}
	.btn-main {
		margin-top: 20px;
	}
	.btn-main-sm {
		margin-top: 20px;
	}
}
.contact-form {
	margin-bottom: 40px;
	.form-control {
		background-color: $background_color_4;
		border: 1px solid #dedede;
		box-shadow: none;
		height: 45px !important;
		color: $color_11;
		height: 38px;
		font-family: $font_family_3;
		font-size: 14px;
		border-radius: 3px;
	}
	input {
		&:hover {
			border-color: $border_color_1;
		}
	}
	textarea {
		&:hover {
			border-color: $border_color_1;
		}
	}
	#contact-submit {
		&:hover {
			border-color: $border_color_1;
		}
		border: none;
		padding: 15px 0;
		width: 100%;
		margin: 0;
		background: #ff5600;
		color: $color_2;
		border-radius: 0;
		cursor: pointer;
	}
	textarea.form-control {
		padding: 10px;
		height: 120px !important;
		outline: none;
	}
}
.contact-details {
	.contact-short-info {
		margin-top: 15px;
		li {
			margin-bottom: 6px;
		}
	}
}
.social-icon {
	li {
		display: inline-block;
		margin-right: 10px;
		a {
			display: block;
			height: 30px;
			width: 30px;
			text-align: center;
			color: $color_3;
			i {
				display: inline-block;
				font-size: 20px;
				line-height: 50px;
				margin: 0;
			}
		}
	}
}
.error {
	display: none;
	padding: 10px;
	color: $color_12;
	border-radius: 4px;
	font-size: 13px;
	background-color: $background_color_5;
}
.success {
	background-color: $background_color_6;
	border-radius: 4px;
	color: $color_2;
	display: none;
	font-size: 13px;
	padding: 10px;
}
.map {
	position: relative;
	#map {
		height: 400px;
		color: $color_13;
	}
}
.contact-meta-block {
	margin-top: 30px;
	padding: 40px 0;
	min-height: 250px;
	text-align: center;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
	>i {
		display: block;
		font-size: 50px;
		margin-bottom: 20px;
	}
}
.counters-item {
	padding-bottom: 30px;
	color: $color_14;
	position: relative;
	&:before {
		background: #e5e5e5;
		content: "";
		margin-top: -27.5px;
		height: 55px;
		width: 1px;
		position: absolute;
		right: -15px;
		top: 50%;
	}
	>div {
		margin: 6px 0;
	}
	span {
		display: inline;
		font-size: 35px;
		font-weight: 700;
		line-height: 50px;
	}
	i {
		font-size: 40px;
		display: inline-block;
		color: $color_3;
	}
	h3 {
		font-size: 18px;
		margin: 0;
		color: $color_9;
	}
}
.counters-item.kill-border {
	&:before {
		background: none;
	}
}
.pricing-table {
	.pricing-item {
		margin-bottom: 15px;
		border-radius: 3px;
		padding-bottom: 40px;
		text-align: center;
		background: #f9f9f9;
		a.btn-main {
			text-transform: uppercase;
			margin-top: 20px;
		}
		a.btn-main-sm {
			text-transform: uppercase;
			margin-top: 20px;
		}
		ul {
			padding: 20px 0 10px;
		}
		li {
			font-weight: 400;
			padding: 10px 0;
			color: $color_9;
			i {
				margin-right: 6px;
			}
		}
	}
	.price-title {
		padding: 30px 0 20px;
		text-align: center;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		color: $color_2;
		>h3 {
			color: $color_2;
			font-weight: 700;
			margin: 0 0 5px;
			font-size: 15px;
			text-transform: uppercase;
		}
		>p {
			color: $color_2;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			margin-top: 5px;
			width: 60%;
			margin: 0 auto;
		}
		.value {
			font-size: 50px;
			padding: 10px 0;
		}
	}
}
.portfolio-filter {
	margin-bottom: 40px;
	text-align: center;
	button {
		font-weight: 500;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		margin: 0 10px;
		padding: 8px 5px;
		font-weight: 600;
		text-transform: uppercase;
		border: none;
		color: $color_7;
		outline: none;
		background: none;
		&:hover {
			border-bottom: 2px solid #ff5600;
			color: $color_15;
		}
	}
	button.active {
		border-bottom: 2px solid #ff5600;
		color: $color_15;
	}
}
.portfolio-items-wrapper {
	li {
		width: 32.33%;
	}
}
.portfolio-block {
	position: relative;
	transition: .3s all;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(240, 50, 107, 0.9);
		transition: .3s all;
	}
	&:hover {
		&:before {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		.caption {
			h4 {
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			opacity: 1;
			visibility: visible;
			.search-icon {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.caption {
		position: absolute;
		bottom: 10%;
		left: 10%;
		opacity: 0;
		z-index: 9;
		transition: all 0.3s ease-in-out;
		visibility: hidden;
		h4 {
			font-size: 20px;
			font-weight: 700;
			a {
				color: $color_2;
			}
		}
		.search-icon {
			background: #ff5600;
			color: $color_2;
			display: inline-block;
			padding: 4px 13px;
			font-size: 25px;
			border-radius: 30px;
			opacity: 0;
			visibility: hidden;
		}
	}
}
.services {
	.service-block {
		padding: 30px 20px;
		.service-icon {
			margin-bottom: 15px;
		}
		i {
			font-size: 40px;
			color: $color_3;
			background: linear-gradient(100deg, #f9643d, #fe2a77);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		h3 {
			color: $color_16;
			font-size: 18px;
		}
		p {
			color: $color_7;
		}
	}
}
.service-list {
	.block {
		background: #ff5600;
		color: $color_2;
		padding: 30px;
		i {
			font-size: 30px;
		}
		h3 {
			font-size: 22px;
			margin: 10px 0;
		}
		ul {
			li {
				margin-bottom: 6px;
				color: $color_18;
			}
		}
	}
}
.client-service-list {
	li {
		font-size: 20px;
		i {
			margin-right: 10px;
			color: $color_3;
		}
	}
}
.team-skills {
	.progress-block {
		margin-top: 40px;
		span {
			display: inline-block;
			margin-bottom: 5px;
			font-size: 14px;
		}
		.progress {
			box-shadow: none;
			border-radius: 0;
			height: 10px;
			.progress-bar {
				background: #ff5600;
				box-shadow: none;
			}
		}
	}
}
.clients-logo-slider {
	margin-top: 50px;
}
.development-steps {
	.step {
		padding: 80px 20px;
		h4 {
			font-size: 20px;
			font-weight: 600;
			i {
				font-size: 72px;
				font-weight: 500;
				margin-right: 10px;
			}
		}
		p {
			color: $color_19;
			font-size: 14px;
			line-height: 22px;
		}
	}
	.step-1 {
		background-color: $background_color_7;
		h4 {
			color: $color_20;
		}
		p {
			color: $color_21;
		}
	}
	.step-2 {
		background-color: $background_color_8;
		h4 {
			color: $color_2;
		}
		p {
			color: $color_2;
		}
	}
	.step-3 {
		background: #df104e;
		h4 {
			color: $color_2;
		}
		p {
			color: $color_2;
		}
	}
	.step-4 {
		background: #c70f46;
		h4 {
			color: $color_2;
		}
		p {
			color: $color_2;
		}
	}
}
.team-member {
	background: #fff;
	margin-bottom: 15px;
	&:hover {
		img {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		.mask {
			opacity: 1;
		}
	}
	.member-content {
		padding: 25px 0;
		h3 {
			font-size: 20px;
			margin: 0 0 5px;
			color: $color_16;
		}
		span {
			font-size: 14px;
			color: $color_22;
		}
		p {
			color: $color_7;
			margin-top: 10px;
			padding: 0 15px;
		}
		ul {
			text-align: center;
			position: relative;
			li {
				margin-right: 7px;
				a {
					font-size: 18px;
					padding: 10px;
					i {
						color: $color_3;
						background: linear-gradient(100deg, #f9643d, #fe2a77);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					&::hover {
						background-color: $background_color_6;
						border: 1px solid transparent;
					}
				}
			}
		}
	}
	.member-photo {
		overflow: hidden;
		position: relative;
		img {
			transition: all 0.6s ease 0s;
		}
	}
}
.testimonial {
	background: #ff5600;
	position: relative;
	.item {
		i {
			font-size: 40px;
			color: $color_2;
			margin-bottom: 30px;
			display: inline-block;
		}
		.client-details {
			padding-bottom: 30px;
			p {
				font-size: 17px;
				color: $color_2;
				font-weight: 200;
				padding: 0 10%;
			}
		}
		.client-meta {
			margin-top: 8px;
			color: $color_2;
			h4 {
				margin-bottom: 4px;
			}
			span {
				font-size: 12px;
			}
		}
		.client-thumb {
			img {
				display: inline-block;
				border-radius: 100%;
				width: 90px;
				height: auto;
			}
		}
	}
}
.post-item {
	background: #fff;
	margin-bottom: 40px;
	.post-thumb {
		margin-right: 10px;
		img {
			height: auto;
		}
	}
	.post-title {
		margin-top: 20px;
		h3 {
			font-size: 23px;
			a {
				color: $color_15;
			}
		}
	}
	.post-meta {
		font-size: 14px;
		color: $color_23;
		a {
			color: $color_15;
			margin: 3px 0;
		}
	}
	.post-content {
		p {
			color: $color_24;
			margin: 10px 0;
		}
	}
	.btn-main {
		font-size: 12px;
		margin-top: 10px;
		padding: 8px 20px;
		margin: 15px 0;
	}
	.btn-main-sm {
		font-size: 12px;
		margin-top: 10px;
		padding: 8px 20px;
		margin: 15px 0;
	}
}
#blog-banner {
	padding-bottom: 100px;
	padding-top: 150px;
}
#blog-page {
	margin: 0 0 40px;
}
.post-excerpt {
	padding: 0 20px;
	margin-bottom: 60px;
	h3 {
		a {
			color: $color_15;
		}
	}
	blockquote {
		line-height: 22px;
		margin: 20px 0;
		font-size: 16px;
	}
}
.single-blog {
	background-color: $background_color_9;
	margin-bottom: 50px;
	padding: 20px;
}
.blog-subtitle {
	font-size: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.next-prev {
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	margin: 20px 0;
	padding: 25px 0;
	a {
		color: $color_15;
		&:hover {
			color: $color_3;
		}
	}
	.prev-post {
		i {
			margin-right: 10px;
		}
	}
	.next-post {
		i {
			margin-left: 10px;
		}
	}
}
.social-profile {
	ul {
		li {
			margin: 0 10px 0 0;
			display: inline-block;
			a {
				color: $color_25;
				display: block;
				font-size: 16px;
				i {
					&:hover {
						color: $color_3;
					}
				}
			}
		}
	}
}
.comments-section {
	margin-top: 35px;
}
.author-about {
	margin-top: 40px;
}
.post-author {
	margin-right: 20px;
	>img {
		border: 1px solid #dedede;
		max-width: 120px;
		padding: 5px;
		width: 100%;
	}
}
.comment-list {
	ul {
		margin-top: 20px;
		li {
			margin-bottom: 20px;
		}
	}
}
.comment-wrap {
	border: 1px solid #dedede;
	border-radius: 1px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
	.author-avatar {
		margin-right: 10px;
	}
	.media {
		.media-heading {
			font-size: 14px;
			margin-bottom: 8px;
			a {
				color: $color_3;
				font-size: 13px;
			}
		}
		.comment-meta {
			font-size: 12px;
			color: $color_23;
		}
		p {
			margin-top: 15px;
		}
	}
}
.comment-reply-form {
	margin-top: 80px;
	input {
		height: 35px;
		border-radius: 0;
		box-shadow: none;
		&:focus {
			box-shadow: none;
			border: 1px solid #ff5600;
		}
	}
	textarea {
		height: 35px;
		border-radius: 0;
		box-shadow: none;
		height: auto;
		&:focus {
			box-shadow: none;
			border: 1px solid #ff5600;
		}
	}
	.btn-main {
		height: auto;
	}
	.btn-main-sm {
		height: auto;
	}
}
.pagination {
	justify-content: center;
	li {
		margin: 0 5px;
		font-size: 20px;
		a {
			color: $color_26;
		}
	}
	li.disabled {
		a {
			color: $color_19;
		}
	}
	li.active {
		a {
			color: $color_3;
			font-weight: 600;
		}
	}
}
.top-footer {
	background-color: $background_color_10;
	border-top: 1px solid #404040;
	padding: 100px 0 80px;
	h3 {
		font-size: 16px;
		line-height: 1.5;
		color: $color_2;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
	p {
		font-size: 13px;
		line-height: 30px;
		color: $color_27;
		font-weight: 300;
		padding-right: 20px;
	}
	li {
		a {
			font-size: 13px;
			line-height: 30px;
			color: $color_27;
			font-weight: 300;
			letter-spacing: 1px;
			text-transform: capitalize;
			transition: color .3s;
			font-family: $font_family_1;
			display: block;
			&:hover {
				color: $color_3;
			}
		}
	}
}
.footer-bottom {
	text-align: center;
	background-color: $background_color_11;
	border-top: 1px solid #2c2c2c;
	padding: 30px 0;
	h5 {
		font-size: 12px;
		line-height: 1;
		color: $color_28;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 7px;
		margin-bottom: 3px;
	}
	h6 {
		font-size: 11px;
		line-height: 15px;
		color: $color_28;
		font-weight: 400;
		text-transform: capitalize;
		letter-spacing: 2px;
		margin-bottom: 0;
	}
	p {
		color: $color_29;
	}
	a {
		color: $color_3;
	}
}
.subscribe-form {
	.form-control {
		border-radius: 0;
	}
}
.page-404 {
	height: 100vh;
	h1 {
		font-size: 200px;
	}
}
.top-bar {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	color: $color_2;
	transition: all 0.2s ease-out 0s;
	padding: 15px 0;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #dedede;
	z-index: 10;
}
.top-bar.animated-header {
	padding: 20px 0;
	background: #fff;
	box-shadow: none;
}
@media (max-width: 480px) {
	.section {
		padding: 40px 0;
	}
	.title {
		p {
			width: 80%;
		}
	}
	.navigation {
		.navbar-nav {
			>li {
				>a {
					padding: 8px 0 !important;
				}
			}
		}
	}
	.hero-area {
		padding: 80px 0;
		.block {
			padding: 0;
		}
	}
	.services {
		.service-block {
			padding: 15px;
		}
	}
	.service-2 {
		.p-0 {
			padding: 0 15px !important;
		}
	}
}
@media (max-width: 768px) {
	.padding-0 {
		padding: 0 15px;
	}
	.title {
		p {
			width: 80%;
		}
	}
	.navigation {
		.navbar-nav {
			>li {
				>a {
					padding: 8px 0 !important;
				}
			}
		}
	}
	.about-2 {
		h2 {
			&:before {
				display: none;
			}
		}
	}
	.contact-form {
		margin-top: 20px;
	}
	.service-2 {
		.p-0 {
			padding: 0 15px !important;
		}
	}
}
@media (max-width: 992px) {
	.about {
		h2 {
			font-size: 25px;
		}
		.content {
			padding: 5px 0;
		}
	}
}
@media (max-width: 400px) {
	.service-2 {
		.p-0 {
			padding: 0 15px !important;
		}
	}
}
