
#preloader {
    background: #ff7315;
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .preloader {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .preloader .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .preloader .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }

  .preloader .sk-circle2 {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  .preloader .sk-circle3 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  .preloader .sk-circle4 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .preloader .sk-circle5 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }

  .preloader .sk-circle6 {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
  }

  .preloader .sk-circle7 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .preloader .sk-circle8 {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
  }

  .preloader .sk-circle9 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
  }

  .preloader .sk-circle10 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .preloader .sk-circle11 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }

  .preloader .sk-circle12 {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
  }

  .preloader .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .preloader .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }

  .preloader .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .preloader .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  .preloader .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }

  .preloader .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }

  .preloader .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }

  .preloader .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }

  .preloader .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }

  .preloader .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }

  .preloader .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }

  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

