.home {
	.title {
		padding-bottom: 10px;
	}
	h2 {
		font-size: 40px;
		font-weight: bold;
		margin-top: 0;
	}
	p {
		line-height: 1.6;
		margin-top: 20px;
		font-size: 20px;
		color: black;
	}
	.content {
		padding: 30px 0;
	}
	.btn-main {
		padding: 10px 20px;
		width: 260px;
	}
	// .buttons_row {
	// 	max-width: 800px;
	// }
}
