
.navigation {
	transition: .3s all;
	background: #1f2532;
	.navbar-nav {
		>li.active {
			a {
				color: white;
			}
		}
		>li {
			>a {
				color: $color_10;
                font-size: 18px;
                font-weight: 600;
				line-height: 26px;
				padding: 20px 15px !important;
				transition: .2s ease-in-out 0s;
				&:hover {
					background: none;
					color: $default_tint;
				}
				&:active {
					background: none;
					color: $default_tint;
				}
				&:focus {
					background: none;
					color: $default_tint;
				}
			}
		}
	}
	.navbar-toggler {
		color: white;
		font-size: 30px;
		cursor: pointer;
		outline: none;
		@media #{$media-size-phone} {
			margin: 9px 0 0 0;
		}
	}
	.nav {
		.open {
			>a {
				background: none;
			}
		}
	}
	.dropdown {
		padding: 0;
		.dropdown-item {
			padding: 8px 15px;
			color: white;
			font-size: 13px;
			&:hover {
				background: transparent;
				color: $default_tint;
			}
		}
		.dropdown-menu {
			border-radius: 0;
			-webkit-transform-origin: top;
			transform-origin: top;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			-webkit-transform: scale(1, 0);
			transform: scale(1, 0);
			background-color: $background_color_2;
			display: block;
			opacity: 0;
			transition: opacity 0.3s ease-in-out,-webkit-transform 0.3s;
			transition: transform 0.3s,opacity 0.3s ease-in-out;
			transition: transform 0.3s,opacity 0.3s ease-in-out,-webkit-transform 0.3s;
		}
		&:hover {
			.dropdown-menu {
				transition: opacity 0.3s ease-in-out,-webkit-transform 0.3s;
				transition: transform 0.3s,opacity 0.3s ease-in-out;
				transition: transform 0.3s,opacity 0.3s ease-in-out,-webkit-transform 0.3s;
				-webkit-transform: scale(1, 1);
				transform: scale(1, 1);
				opacity: 1;
			}
		}
	}
}
.navbar-brand {
	height: auto;
	padding: 8px 0;
	h1 {
		margin: 0;
	}

	@media #{$media-size-phone} {
		padding: 0;
	}
}

#flags {
    img {
        height: 16px;
    }
}