@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1.4;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-display: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @media #{$media-size-phone} {
    font-size: 1rem;
  }
}

p {
  font-family: "Titillium Web", sans-serif;
  color: #9a9a9a;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

#logo_text {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  @media #{$media-size-phone} {
	  img {
		max-height: 30px;
	  }
  }
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  figcaption {
    font-size: 14px;
    margin-top: 5px;
    opacity: .8;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code {
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  font-display: auto;
  font-feature-settings: normal;
  background: $light-background-secondary;
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: .95rem;

  .dark-theme & {
    background: $dark-background-secondary;
  }
}

pre {
  background: #212020;
  padding: 20px;
  border-radius: 8px;
  font-size: .95rem;
  overflow: auto;

  @media #{$media-size-phone} {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: inherit;

    .dark-theme & {
      color: inherit;
    }
  }
}

blockquote {
  border-left: 2px solid;
  margin: 40px;
  padding: 10px 20px;

  @media #{$media-size-phone} {
    margin: 10px;
    padding: 10px;
  }

  &:before {
    content: 'â€';
    font-family: Georgia, serif;
    font-display: auto;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

hr {
  width: 100%;
  border: none;
  background: $light-border-color;
  height: 1px;

  .dark-theme & {
    background: $dark-border-color;
  }
}

.hidden {
  display: none;
}

.hide-on-phone {
  @media #{$media-size-phone} {
    display: none;
  }
}

.hide-on-tablet {
  @media #{$media-size-tablet} {
    display: none;
  }
}

// Accessibility
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* === LEGACY CSS ============================== */
.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
	transition: all .3s ease-in 0s;
	text-decoration: none;
	outline: 0;
	&:focus {
		text-decoration: none;
		outline: 0;
		color: $default_tint;
	}
	&:hover {
		text-decoration: none;
		outline: 0;
		color: $default_tint;
	}
}

iframe {
  border: 0;
}

.btn {
	&:focus {
		color: $color_4;
		outline: 0;
	}
	&:active {
		&:focus {
			outline: 0;
		}
	}
}

.btn.active {
	&:focus {
		outline: 0;
	}
}

.btn-main {
	background-color: $background_color_1;
	background-image: linear-gradient(100deg, $btn_grad_left, $default_tint);
	color: white;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 10px 40px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 2px;
	&:hover {
		color: white;
	}
}
.btn-main-sm {
	background-color: $background_color_1;
	background-image: linear-gradient(100deg, $btn_grad_left, $default_tint);
	color: white;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 10px 40px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 8px 20px;
	font-size: 12px;
	&:hover {
		color: white;
	}
}
.btn-transparent {
	color: white;
	border: 1px solid #fff;
	display: inline-block;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 10px 40px;
	text-transform: uppercase;
	&:hover {
		color: white;
	}
}

.title {
	padding-bottom: 50px;
	text-align: center;
	h2 {
		font-size: 35px;
		color: $color_5;
		text-transform: capitalize;
		margin-bottom: 8px;
		font-weight: 700;
	}
	h4 {
		font-size: 10px;
		line-height: 10px;
		font-weight: 700;
		letter-spacing: 3.3px;
		text-transform: uppercase;
	}
	p {
		color: $color_6;
		width: 50%;
		margin: 0 auto;
	}
	.border {
		border: none;
		display: inline-block;
		border-radius: 3px;
		height: 6px;
		position: relative;
		width: 90px;
		margin-bottom: 10px;
		background-image: linear-gradient(100deg, $btn_grad_left, $default_tint);
	}
}

#home {
  position: relative;
}

.section {
  padding: 100px 0;

  @media #{$media-size-phone} {
    padding: 40px 0;
  }
}

.section-sm {
  padding: 70px 0;
  @media #{$media-size-phone} {
    padding: 30px 0;
  }
}

.section-xs {
  padding: 40px 0;
  @media #{$media-size-phone} {
    padding: 20px 0;
  }
}

.bg-gray {
  background: #f9f9f9;
}

.color-gray {
  color: #777;
}

.shadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.34);
}

.gradient, .title .border, .service-2 .service-item i {
  background-image: linear-gradient(100deg, $btn_grad_left, $default_tint);
}

.header-bradcrumb {
	background: transparent;
	a {
		color: $color_8;
		font-weight: 200;
		font-family: $font_family_1;
		&:hover {
			color: $default_tint;
		}
	}
	.active {
		color: $color_8;
		font-weight: 200;
		font-family: $font_family_1;
	}
}

.slick-slide {
  outline: none;
}

.commonTab {
	.nav-tabs {
		border: 1px solid transparent;
		text-align: center;
		.nav-item {
			margin: 0 3px;
			.nav-link {
				background: #f9f9f9;
				color: $color_9;
				text-transform: capitalize;
				border-radius: 0;
				&:hover {
					border: 1px solid $default_tint;
					border-radius: 0;
					background: $default_tint;
					color: white;
				}
			}
			.nav-link.active {
				border: 1px solid $default_tint;
				background: $default_tint;
				color: white;
			}
		}
	}
	.tab-content {
		padding-top: 30px;
	}
}

.bg-pricing {
  background: url("../images/pricing-bg.jpg");
  background-size: cover;
}

.single-page-header {
	background: #1f2532;
	padding: 50px 0;
	text-align: center;
	color: white;
	position: relative;
	.breadcrumb {
		background: transparent;
		display: inline-block;
		li {
			display: inline-block;
			a {
				color: $default_tint;
			}
		}
	}
}


.hero-area {
	padding: 150px 0;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #1f2532;
	.block {
		color: white;
		padding-left: 30px;
		h2 {
			font-size: 48px;
			margin-bottom: 20px;
		}
		p {
			color: $color_10;
			font-size: 20px;
			margin-bottom: 20px;
		}
		.list-inline {
			margin-top: 50px;
		}
		.btn-main {
			margin-right: 8px;
		}
		.btn-main-sm {
			margin-right: 8px;
		}
	}
}
.video-player {
	iframe {
		width: 100%;
		height: 100%;
	}
	.play-icon {
		position: absolute;
		left: 0;
		top: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 100%;
		text-align: center;
		&:hover {
			i {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
		i {
			margin-left: 3px;
			height: 80px;
			width: 80px;
			border-radius: 50px;
			transition: -webkit-transform 300ms ease;
			transition: transform 300ms ease;
			transition: transform 300ms ease, -webkit-transform 300ms ease;
			background: #fff;
			color: $default_tint;
			line-height: 80px;
			font-size: 30px;
			margin-left: 5px;
		}
	}
}
.hero-area-video {
	height: 100vh;
	position: inherit !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	.block {
		color: white;
		text-align: center;
		h1 {
			font-size: 60px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p {
			color: white;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 3px;
			margin-bottom: 20px;
		}
		.btn-main {
			margin-top: 20px;
		}
		.btn-main-sm {
			margin-top: 20px;
		}
	}
}

.dark-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

/*=================================================================
  About us section
==================================================================*/
.about {
	background: #fff;
	h2 {
		font-size: 40px;
		font-weight: bold;
		margin-top: 0;
	}
	h4 {
		font-size: 14px;
		color: $default_tint;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	p {
		line-height: 1.6;
		margin-top: 20px;
		font-size: 18px;
	}
	.content {
		padding: 30px 0;
	}
}
.about-2 {
	background: #F7F7F7;
	h2 {
		position: relative;
		&:before {
			position: absolute;
			left: -15%;
			top: 18px;
			content: '';
			display: inline-block;
			width: 12%;
			height: 3px;
			background-color: $background_color_3;
			background-image: linear-gradient(100deg, $btn_grad_left, $default_tint);
			background-image: linear-gradient(100deg, $btn_grad_left, $default_tint);
		}
	}
}

/*=================================================================
 Call To Action
==================================================================*/
.call-to-action {
	padding: 100px 0;
	background-size: cover;
	color: white;
	h2 {
		line-height: 1.5;
	}
	p {
		color: white;
	}
	.btn-main {
		margin-top: 20px;
	}
	.btn-main-sm {
		margin-top: 20px;
	}
}
.call-to-action-2 {
	padding: 100px 0;
	background-image: url("../images/call-to-action/call-to-action-bg.jpg");
	background-size: cover;
	color: white;
	h2 {
		line-height: 1.5;
	}
	p {
		color: white;
	}
	.btn-main {
		margin-top: 20px;
	}
	.btn-main-sm {
		margin-top: 20px;
	}
}

/*=================================================================
  Contact
==================================================================*/
.contact-form {
	margin-bottom: 40px;
	.form-control {
		background-color: $background_color_4;
		border: 1px solid #dedede;
		box-shadow: none;
		height: 45px !important;
		color: $color_11;
		height: 38px;
		font-family: $font_family_3;
		font-size: 14px;
		border-radius: 3px;
	}
	input {
		&:hover {
			border-color: $border_color_1;
		}
	}
	textarea {
		&:hover {
			border-color: $border_color_1;
		}
	}
	#contact-submit {
		&:hover {
			border-color: $border_color_1;
		}
		border: none;
		padding: 15px 0;
		width: 100%;
		margin: 0;
		background: $default_tint;
		color: white;
		border-radius: 0;
		cursor: pointer;
	}
	textarea.form-control {
		padding: 10px;
		height: 120px !important;
		outline: none;
	}
}
.contact-details {
	.contact-short-info {
		margin-top: 15px;
		li {
			margin-bottom: 6px;
		}
	}
}

.social-icon {
	li {
		display: inline-block;
		margin-right: 10px;
		a {
			display: block;
			height: 30px;
			width: 30px;
			text-align: center;
			color: $default_tint;
			i {
				display: inline-block;
				font-size: 20px;
				line-height: 50px;
				margin: 0;
			}
		}
	}
}
.error {
  display: none;
  padding: 10px;
  color: #D8000C;
  border-radius: 4px;
  font-size: 13px;
  background-color: #FFBABA;
}

.success {
  background-color: #6cb670;
  border-radius: 4px;
  color: #fff;
  display: none;
  font-size: 13px;
  padding: 10px;
}

.map {
  position: relative;
}

.map #map {
  height: 400px;
  color: white;
}

.contact-meta-block {
	margin-top: 30px;
	padding: 40px 0;
	min-height: 250px;
	text-align: center;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
	>i {
		display: block;
		font-size: 50px;
		margin-bottom: 20px;
	}
}

/*=================================================================
  Item counter section
==================================================================*/
.counters-item {
	padding-bottom: 30px;
	color: $color_14;
	position: relative;
	&:before {
		background: #e5e5e5;
		content: "";
		margin-top: -27.5px;
		height: 55px;
		width: 1px;
		position: absolute;
		right: -15px;
		top: 50%;
	}
	>div {
		margin: 6px 0;
	}
	span {
		display: inline;
		font-size: 35px;
		font-weight: 700;
		line-height: 50px;
	}
	i {
		font-size: 40px;
		display: inline-block;
		color: $default_tint;
	}
	h3 {
		font-size: 18px;
		margin: 0;
		color: $color_9;
	}
}
.counters-item.kill-border {
	&:before {
		background: none;
	}
}


/*=================================================================
  Latest Posts
==================================================================*/

.post-item {
	background: #fff;
	margin-bottom: 10px;
	a {
		color: $color_15;
		&:hover {
			color: $default_tint;
		}
	}
	.post-thumb {
		margin-right: 10px;
		img {
			height: auto;
		}
	}
	.post-title {
		margin-top: 20px;
		h3 {
			font-size: 23px;
			a {
				color: $color_15;
			}
		}
	}
	.post-meta {
		font-size: 14px;
		color: white3;
		a {
			color: $color_15;
			margin: 3px 0;
		}
	}
	.post-content {
		p {
			color: white4;
			margin: 10px 0;
		}
	}
	.btn-main {
		font-size: 12px;
		margin-top: 10px;
		padding: 8px 20px;
		margin: 15px 0;
	}
	.btn-main-sm {
		font-size: 12px;
		margin-top: 10px;
		padding: 8px 20px;
		margin: 15px 0;
	}
}

/*=================================================================
  Single Blog Page
==================================================================*/
#blog-banner {
	padding-bottom: 100px;
	padding-top: 150px;
}
#blog-page {
	margin: 0 0 40px;
}
.post-excerpt {
	padding: 0 20px;
	margin-bottom: 60px;
	h3 {
		a {
			color: $color_15;
		}
	}
	blockquote {
		line-height: 22px;
		margin: 20px 0;
		font-size: 16px;
	}
}
.single-blog {
	background-color: $background_color_9;
	margin-bottom: 50px;
	padding: 20px;
}
.blog-subtitle {
	font-size: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.next-prev {
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	margin: 20px 0;
	padding: 25px 0;
	a {
		color: $color_15;
		&:hover {
			color: $default_tint;
		}
	}
	.prev-post {
		i {
			margin-right: 10px;
		}
	}
	.next-post {
		i {
			margin-left: 10px;
		}
	}
}
.social-profile {
	ul {
		li {
			margin: 0 10px 0 0;
			display: inline-block;
			a {
				color: white5;
				display: block;
				font-size: 16px;
				i {
					&:hover {
						color: $default_tint;
					}
				}
			}
		}
	}
}
.comments-section {
	margin-top: 35px;
}
.author-about {
	margin-top: 40px;
}
.post-author {
	margin-right: 20px;
	>img {
		border: 1px solid #dedede;
		max-width: 120px;
		padding: 5px;
		width: 100%;
	}
}

.comment-list {
	ul {
		margin-top: 20px;
		li {
			margin-bottom: 20px;
		}
	}
}
.comment-wrap {
	border: 1px solid #dedede;
	border-radius: 1px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
	.author-avatar {
		margin-right: 10px;
	}
	.media {
		.media-heading {
			font-size: 14px;
			margin-bottom: 8px;
			a {
				color: $default_tint;
				font-size: 13px;
			}
		}
		.comment-meta {
			font-size: 12px;
			color: white3;
		}
		p {
			margin-top: 15px;
		}
	}
}
.comment-reply-form {
	margin-top: 80px;
	input {
		height: 35px;
		border-radius: 0;
		box-shadow: none;
		&:focus {
			box-shadow: none;
			border: 1px solid $default_tint;
		}
	}
	textarea {
		height: 35px;
		border-radius: 0;
		box-shadow: none;
		height: auto;
		&:focus {
			box-shadow: none;
			border: 1px solid $default_tint;
		}
	}
	.btn-main {
		height: auto;
	}
	.btn-main-sm {
		height: auto;
	}
}

.pagination {
	justify-content: center;
	li {
		margin: 0 5px;
		font-size: 20px;
		a {
			color: white6;
		}
	}
	li.disabled {
		a {
			color: $color_19;
		}
	}
	li.active {
		a {
			color: $default_tint;
			font-weight: 600;
		}
	}
}
/*=================================================================
  Footer section
==================================================================*/
.top-footer {
	background-color: $background_color_10;
	border-top: 1px solid #404040;
	padding: 100px 0 80px;
	h3 {
		font-size: 16px;
		line-height: 1.5;
		color: white;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
	p {
		font-size: 13px;
		line-height: 30px;
		color: white;
		font-weight: 300;
		padding-right: 20px;
	}
	li {
		a {
			font-size: 13px;
			line-height: 30px;
			color: white;
			font-weight: 300;
			letter-spacing: 1px;
			text-transform: capitalize;
			transition: color .3s;
			font-family: $font_family_1;
			display: block;
			&:hover {
				color: $default_tint;
			}
		}
	}
}
.footer-bottom {
	text-align: center;
	background-color: $background_color_11;
	border-top: 1px solid #2c2c2c;
	padding: 30px 0;
	h5 {
		font-size: 12px;
		line-height: 1;
		color: white;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 7px;
		margin-bottom: 3px;
	}
	h6 {
		font-size: 11px;
		line-height: 15px;
		color: white8;
		font-weight: 400;
		text-transform: capitalize;
		letter-spacing: 2px;
		margin-bottom: 0;
	}
	p {
		color: white9;
	}
	a {
		color: $default_tint;
	}
}

.subscribe-form {
	.form-control {
		border-radius: 0;
	}
}
.page-404 {
	height: 100vh;
	h1 {
		font-size: 200px;
	}
}
.top-bar {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	color: white;
	transition: all 0.2s ease-out 0s;
	padding: 15px 0;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #dedede;
	z-index: 10;
}
.top-bar.animated-header {
	padding: 20px 0;
	background: #fff;
	box-shadow: none;
}
@media (max-width: 480px) {
	.section {
		padding: 40px 0;
	}
	.title {
		p {
			width: 80%;
		}
	}
	.navigation {
		.navbar-nav {
			>li {
				>a {
					padding: 8px 0 !important;
				}
			}
		}
	}
	.hero-area {
		padding: 80px 0;
		.block {
			padding: 0;
		}
	}
	.services {
		.service-block {
			padding: 15px;
		}
	}
	.service-2 {
		.p-0 {
			padding: 0 15px !important;
		}
	}
}
@media (max-width: 768px) {
	.padding-0 {
		padding: 0 15px;
	}
	.title {
		p {
			width: 80%;
		}
	}
	.navigation {
		.navbar-nav {
			>li {
				>a {
					padding: 8px 0 !important;
				}
			}
		}
	}
	.about-2 {
		h2 {
			&:before {
				display: none;
			}
		}
	}
	.contact-form {
		margin-top: 20px;
	}
	.service-2 {
		.p-0 {
			padding: 0 15px !important;
		}
	}
}
@media (max-width: 992px) {
	.about {
		h2 {
			font-size: 25px;
		}
		.content {
			padding: 5px 0;
		}
	}
}
@media (max-width: 400px) {
	.service-2 {
		.p-0 {
			padding: 0 15px !important;
		}
	}
}
