baseURL = "/"
publishDir = "../public"
languageCode = "en-us"
title = "Covid Tenders"
theme = "navigator-hugo"
disableKinds = ["taxonomy", "taxonomyTerm"]
ignoreFiles = [ "\\.foo$", "\\.boo$" ]
sectionPagesMenu = "main"

# Build robots.txt file
enableRobotsTXT = true
# google analytics tracking id
googleAnalytics = "UA-101788190-2"

enableGitInfo = false
pygmentsCodeFences = true

# Multilangues setup
# Set to false so that English is rendered at the base URL instead of /en
# Other languages will still render in subdir path (e.g. /cn/)
defaultContentLanguageInSubdir = false
DefaultContentLanguage = "en"

[params]
    author = "Covid Innovations"
    description = "A marketplace for COVID solutions"

[permalinks]
  news = "/:year/:month/:title/"

[Languages]
    ############# 1 - Site en ENGLISH
    [Languages.en]
    weight = 1
    languageCode = "en-us"
    dateFormat = "January 2, 2006"
    home = "Home"

    ############ 1 - Site in Chinese
    [Languages.cn]
    weight = 2
    languageCode = "zh-cn"
    dateFormat = "2 January 2006"
    home = "CN Home"

# Site Menus
[menu]
    # Navbar Menus
    # The name is used as a key to get the localized name in /i18n/en.toml (or other language)

    [[menu.nav]]
        name    = "tenders"
        url     = "tenders"
        weight  = 1

    [[menu.nav]]
        name    = "solutions"
        url     = "solutions"
        weight  = 2

    [[menu.nav]]
        name    = "browse"
        url     = "solutions/browse"
        weight  = 3

    # [[menu.nav]]
    #     name    = "news"
    #     url     = "news"
    #     weight  = 4

    [[menu.nav]]
        name    = "about"
        url     = "about"
        weight  = 4

    [[menu.nav]]
        name    = "feedback"
        url     = "contact/feedback"
        weight  = 5

