{{ define "main" }}

<section class="home section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title text-center">
          <h2>{{ .Title }}</h2>
          <span class="border"></span>
        </div>
        <div class="col-md-8 mx-auto">
          {{ .Content }}
        </div>
        <div class="mt-25 text-center">
          <a class="btn btn-main" href="{{ "solutions" | absLangURL }}">Click Here to Add a Solution</a>
        </div>

      </div>
    </div>
  </div>
  {{ partial "embed-gallery.html" . }}

</section>

{{ end }}